@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/main-background.png) center no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}

/* Game area */
#main-wrapper {
    height: fit-content;
    background-color: rgba(160, 155, 155, 0.3);
}

#credit-display {
    height: 30px;
    width: 150px;
    position: absolute;
    top: 2%;
    right: 5%;
}

div {
    height: 200px;
}

#bet-section {
    height: fit-content;
}

#bet-section p {
    display: inline;
}

#bet {
    background-color: inherit;
    font-family: 'Rubik Dirt', cursive;
    font-size: 20px;
    border: none;
}

img {
    border-radius: 7px;
    height: 95%;
}

p {
    padding: 12px;
    font-size: 24px;
}

h1 {
    padding: 10px;
    padding-bottom: 20px;
}

#buttons {
    margin-top: 10px;
}

.button {
    padding: 5px;
    margin: 30px;
    font-size: x-large;
    font-family: 'Rubik Dirt', cursive;
    border-radius: 5px;
    background-color:  #ba8475;
    border: none;
}

.button:hover,
.button:active {
    background-color: #fa0000;
}

/* Game tutorial */
#message {
    width: 400px;
    height: 600px;
    background-color: rgba(28, 25, 25, 0.9);
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff4ee;
    /*display: none;*/
}

#end-game {
    width: 400px;
    height: 70px;
    background-color: rgba(28, 25, 25, 0.9);
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff4ee;
    display: none;
}

input {
    font-family: 'Rubik Dirt', cursive;
}

#message p {
    font-size: 18px;
    padding-bottom: 100px;
}