@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

/* Set margin and padding to zero by default to everything */
*{
    margin: 0;
    padding: 0;
}

/* Header and navigation */
#header {
    height: fit-content;
    background-color: #ba8475;
    padding-bottom: 20px;
}

#navigation {
    height: 50px;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navigation ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#navigation ul li {
    float: left;
    list-style: none;
    margin: 7px;
}

#navigation li a {
    color: black;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: solid 2px black;
}

body {
    background: url(../images/main-background.png) center no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}

/* Game area */
#main-wrapper {
    height: fit-content;
    background-color: rgba(160, 155, 155, 0.3);
    padding-top: 30px;
}

#credit-display {
    height: 30px;
    width: 300px;
    position: absolute;
    top: 3%;
    right: 2%;
    border: 1px black;
}

#credit-display p {
    font-size: 16px;
}

div {
    height: 180px;
}

#bet-section {
    height: fit-content;
}

#bet-section p {
    display: inline;
}

#bet {
    background-color: inherit;
    font-family: 'Rubik Dirt', cursive;
    font-size: 20px;
    border: none;
}

img {
    border-radius: 7px;
    height: 95%;
}

p {
    padding: 12px;
    font-size: 24px;
}

h1 {
    padding: 10px;
    padding-bottom: 20px;
}

#buttons {
    margin-top: 10px;
    height: fit-content;
    padding-bottom: 30px;
}

.button {
    padding: 5px;
    margin: 0 30px 0;
    font-size: x-large;
    font-family: 'Rubik Dirt', cursive;
    border-radius: 5px;
    background-color:  #ba8475;
    border: none;
}

.hover:hover,
.hover:active {
    background-color: #fa0000;
}

/* Game welcome message */
#welcome-message {
    width: 400px;
    height: 580px;
    background-color: rgba(28, 25, 25, 0.9);
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff4ee;
}

#end-game {
    width: 400px;
    height: fit-content;
    background-color: rgba(28, 25, 25, 0.9);
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff4ee;
    display: none;
}

input {
    font-family: 'Rubik Dirt', cursive;
}

#welcome-message p {
    font-size: 18px;
    font-family: cursive;
    padding-bottom: 50px;
}

#run-game{
    margin-top: 50px;
}

/* Luck modal */
#luck {
    width: 400px;
    height: 580px;
    background-color: rgba(28, 25, 25, 0.9);
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff4ee;
    font-family: cursive;
    display: none;
}

#sign {
    width: 150px;
    height: 30px;
    font-family: cursive;
    background-color: #ba8475;
    font-size: 16px;
  }

#astro-result {
    overflow: auto;
    height: 260px;
}

#close-luck {
    margin-top: 50px;
}

#luck-run {
    margin: 20px;
}

/* Footer */
#footer {
    height: 40px;
    background-color: #ba8475;
}

#footer-container {
    height: 40px;
    width: 200px;
    float: right;
    margin-right: 20px;
}

#footer p {
    font-size: 12px;
    display: inline;
}

#footer a {
    color: #281713;
    font-size: 200%;
}

/* Feedback page */
#contact {
    height: 730px;
}

#contact p {
    color: #fff4ee;
    padding-top: 50px;
}

.user-input {
    background: transparent;
    border: 1px solid #fff4ee;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 80%;
    padding-left: 5px;
    color: #fff4ee;
}

#contact-form-wrapper {
    height: 520px;
    width: 60%;
    margin-top: 50px;
    position: absolute;
    background-color: #281713;
    left: 20%;
    border-radius: 50px;
}

#contact-form-wrapper form {
    color: #fff4ee;
    font-size: 130%;
    width: 70%;
    margin: 0;
    position: absolute;
    top: 3rem;
    left: 15%;
}

#message {
    background: transparent;
    border: 1px solid #fff4ee;
    width: 100%;
    height: 200px;
    font-family: 'Rubik Dirt', cursive;
    font-size: 80%;
    padding: 1%;
    color: #fff4ee;
}

.send-button {
    display: block;
    margin-top: 40px;
    background-color: #ba8475;
    border: none;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    font-size: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.send-button:hover {
    background-color: #fa0000;
}

#response {
    width: 400px;
    height: 200px;
    background-color: rgba(28, 25, 25, 0.9);
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff4ee;
    display: none;
}

.close {
    color: #fff4ee;
    float: right;
    font-size: 18px;
  }

.close:hover,
.close:focus {
  color: #fa0000;
  text-decoration: none;
  cursor: pointer;
}

#response-message {
    line-height: 180px;
}

/* Quiz page */
#quiz-main {
    height: fit-content;
    background-color: rgba(160, 155, 155, 0.3);
    padding-top: 30px
}

#quiz-wrapper {
    height: 550px;
}

#quiz-start {
    position: absolute;
    top: 40%;
    transform: translate(-90%, -50%);
}

#questions {
    text-align: left;
    background-color: #ba8475;
    width: 700px;
    height: 400px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    display: none;
}

#progres {
    height: 60px;
}

.options-div {
    width: 90%;
    left: 5%;
    position: absolute;
    height: fit-content;
    border: #fa0000;
    border-style: solid;
}

.question-options li {
    padding: 5px;
    list-style: none;
}

#next-question {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.question-end {
    padding: 5px;
    height: fit-content;
}

.question-end ul {
    padding-left: 20px;
    width: fit-content;
}

.question-end-answer {
    padding: 3px;
    font-size: 16px;
}
