*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url(../images/main-background.png) center no-repeat;
    background-size: cover;
    text-align: center;
}

#main-wrapper {
    height: fit-content;
    background-color: rgba(160, 155, 155, 0.5);
}

div {
    height: 200px;
}

img {
    height: 95%;
    padding-top: 1%;
}

p {
    padding: 12px;
    font-size: 24px;
}

#buttons {
    margin-top: 10px;
}

.button {
    margin: 30px;
    font-size: x-large;
    border-radius: 5px;
    border-width: 2px;
}